spring:
  application:
    name: hour-manager
    version: 1.0.0-SNAPSHOT
  profiles:
    active: ${PROFILE:dev}
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:file:./data/hourmanager;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    hibernate:
      ddl-auto: none
    generate-ddl: false
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  h2:
    console:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

server:
  port: ${PORT:8080}

logging:
  level:
    root: info
    br.com.hourmanager: debug
